{% extends 'layout.html' %} {% block body %}
<div class="hero text-center py-5 bg-primary text-white">
    <h1 class="display-4">AI Chat by {{ app_data['author'] }}</h1>
    <p class="lead">
        AI Chat is an AI chatbot that writes text. You can use it to write
        stories, messages, or programming code. You can use the AI chatbot as a
        virtual tutor in almost any subject.
    </p>
    <p>Title: {{ app_data['html_title'] }}</p>
    <a class="btn btn-light btn-lg mt-3" href="/chat" role="button">Chat Now</a>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Want to learn a new language?</h5>
                    <p class="card-text">
                        With us you can have real time conversations that will
                        make you fluent in no time!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Virtual Assistant</h5>
                    <p class="card-text">
                        Are you lazy and want an assistant? We got you!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Want to travel bu don´t know where?
                    </h5>
                    <p class="card-text">
                        Ask our chat about place recommendations and to create
                        an itineray for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
